.rhap_container,
.rhap_container *:focus {
  outline: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.rhap_container svg,
.rhap_time {
  color: var(--dark-blue) !important;
}

.rhap_button-clear {
  /* padding: 10px !important; */
  height: 50px !important;
  /* padding-bottom: 10px !important; */
}
