.learning-founder-container-full {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learning-and-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* border: 1px solid green; */
}

.learning-container {
  width: 800px;
  /* height: 400px; */
  position: relative;
  /* border: 1px solid red; */
}

.learning-testimonial {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.learning-slide-row {
  display: flex;
  width: 3200px;
  /* border: 1px solid green; */
  transition: 0.5s;
}

.learning-slide-col {
  width: 800px;
  /* height: 400px; */
  position: relative;
  /* border: 1px solid red; */
}

/* .learning-header {
  border: 1px solid green;
} */

.learning-slider-dots {
  display: flex;
  /* border: 1px solid green; */
}

.learning-slider-dots p {
  margin: 0px 3px;
}

.learning-text {
  text-align: center;
}

.learning-button {
  color: var(--dark-blue);
  border: none;
  background-color: transparent;
  transition: var(--transition-time);
}

.learning-button:hover {
  color: var(--aqua-blue);
}
