/* css moved to SliderSections.css in src */

/* .profile-picture {
  width: 400px;
  height: 600px;
}

.profile-container {
  display: flex;
}

.profile-picture-container,
.profile-text-container {
  width: 50%;
} */
