.container-slider-and-dots {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  width: 100%;
}

.slide-column {
  border: 1px solid green;
}

.slide-row {
  display: flex;
  width: 3200px;
  border: 1px solid red;
  transition: 0.5s;
}

.slide-column {
  width: 800px;
  position: relative;
}


.quote-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.quote-item {
  color: blue;
  background-color: antiquewhite;
  text-align: center;
}

.carousel-button {
  background-color: transparent;
  border: none;
  transition: var(--transition-time);
}

.carousel-button:hover {
  color: var(--aqua-blue);
}

.slider-dots {
  border: 1px solid brown;
  display: flex;
}

.slider-dots p {
  color: gold;
  cursor: pointer;
  margin: 0px 3px;
  transition: var(--transition-time);
}

.slider-dots p:hover {
  color: var(--aqua-blue);
} 


.slide-container {
    width: 800px;
    height: 200px;
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center; }
/* position: absolute; */
/* top: 50%; */
/* left: 50%; */
/* transform: translate(-50%, -50%); */
/* }
