/* .founder-quotes-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 100px;
}

.carousel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
}

.slider-dots {
  display: flex;
}

.slider-dots p {
  margin: 0px 3px;
  cursor: pointer;
  transition: var(--transition-time);
}

.slider-dots p:hover {
  color: var(--aqua-blue);
}

.founder-quote {
  text-align: center;
  width: 80%;
}

.carousel-button {
  background-color: transparent;
  border: none;
  transition: var(--transition-time);
}

.carousel-button:hover {
  color: var(--aqua-blue);
}

.fade-in {
  transition: opacity 1.5s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1.5s ease;
} */
